@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Secret";
}

    <div class="text-center">
        <h1 class="display-4">Secret</h1>
        <p>This is your secret page</p>

        @{
            if (this.IfClaim(claimName: "Produtos", claimValue: "Ler"))
            {
                <p>
                    Esta parte só aparecerá para quem tem a permissão para ler.
                </p>
            }

            if (this.IfClaim(claimName: "Produtos", claimValue: "Personalizar"))
            {
                <p>
                    Esta parte só aparecerá para quem tem a permissão para personalizar.
                </p>
            }
        }


        @Html.ActionLink("Aqui está o meu primeiro Link", "action", "controller").IfClaimShow(Context, "Produtos", "Ler")
        @Html.ActionLink("Aqui está o meu segundo Link ", "action", "controller").IfClaimShow(Context, "Produtos", "Personalizar")

        <div><br />
            <button class="btn btn-danger" @Html.Raw(value: this.IfClaimShow("Produtos", "Personalizar"))>Excluir</button>
        </div>

    </div>
