
@{
    ViewData["Title"] = "Index";
}

<h1>Logs</h1>
<br />
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogTeste" asp-action="IndexLog">Log</a>
</p>


<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogTeste" asp-action="IndexKissLog">Kiss Log</a>
</p>


<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogTeste" asp-action="LoginKissLog">Login - Kiss Log</a>
</p>

